@import 'employee-list.css';
@import 'employee.css';
@import 'nav.css';
@import 'buttons.css';
@import 'fonts.css';

* {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    font-family: 'Sevastopol';
    font-size: 30px;
}

body {
    color: whitesmoke;
    text-shadow: 1px 1px #847a83;
    background-color: #131d15;
}