.button {
    background-color: #14422e;
    outline: none;
    border: 1px solid #89a08d;
    color: whitesmoke;
    text-shadow: 1px 1px #847a83;
}

.button:focus {
    outline: 0;
}


.employee-btn-container {
    justify-content: center;
}

.employee-btn {
    margin: 1%;
    margin-top: 2%;
    width: 70.38px;
}