.employee-list {
    border: 1px solid green;
    border-top: 20px solid #38ce71;
    min-height: 100%;
    width: 50vw;
    padding-left: 1%;
    margin-left: 1%;
    margin-bottom: 1%;
    flex-direction: column;
}