.employee {
    padding-bottom: 3%;
    border-bottom: 1px solid green;
    padding-left: 2%;
}

.employee:last-child {
    border-bottom: none;
}

.employee__name {
    text-transform: uppercase;
}

.employee__row {}



.employee__label {
    margin-right: 1%;
    text-transform: uppercase;
}

.employee__value {
    font-weight: 200;
}

.employee__value--indented {
    margin-left: 2%;
}

.recipe__duties {
    white-space: pre-wrap;
}