.employee-edit {
    padding: 20px;
    margin-top: 80px;
    position: fixed;
    right: 0;
    top: 0;
    width: 47%;
    overflow-y: auto;
    max-height: 100%;
    border: 1px solid green;
    border-top: 20px solid #38ce71;
    margin-right: 1%;
}



.employee-edit__remov-button-container {
    text-align: end;
    margin-bottom: 2%;
}


.employee-edit__details-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    row-gap: 3%;
    column-gap: 3%;
}

.employee-edit__label {
    text-transform: uppercase;
}

.employee-edit__input {
    outline: none;
    background-color: #227d2c;
    color: whitesmoke;
    text-shadow: 1px 1px #847a83;
    border: 1px solid #89a08d;
    padding-left: 2%;
}

.employee-edit__affiliation {
    text-transform: uppercase;
}

textarea.employee-edit__input {
    resize: none;
    height: 200%;
}

.employee-edit__label-items {
    margin-top: 15%;
}

.employee-edit__item-grid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    row-gap: 5%;
    column-gap: 2%;
}

.employee-edit__add-item-btn-container {
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
}

/* MEDIA QUERIES */

@media (max-height: 868px) {

    .employee-edit {
        height: 80%;
    }
}